[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-filter = "*"
psycopg2 = "*"
mysqlclient = "*"
djangorestframework = "*"
django-tenant-schemas = {git = "https://github.com/haimn100/django-tenant-schemas"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
